@use "global" as *;

.contact-done__name {
font-size: rem(30);
padding: rem(50) 0;

@include mq() {
  font-size: rem(40);
  padding: rem(70) 0;
}
}

.contact-done__home {

  @include mq() {
    margin-top: rem(70);
    text-align: center;
  }
}

.contact-done__icon {
  display: inline-block;
}

.fa-home {
  color: $gray;
  font-size: rem(30);
}

.fa-home:hover {

  @media (any-hover:hover) {
    color: $color-sub;
  }
}