@use "global" as *;

.footer {
  color: $white;
  text-align: center;
  padding: rem(40) 0 rem(10);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  background: linear-gradient(to bottom, #021b79 0%, #0575e6 100%);

  @include mq() {
    padding: rem(40) 0 rem(20);
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  }
}


.footer__list {
  padding: rem(30) 0 rem(20);
  
  @include mq() {
    display: flex;
    justify-content: center;
    padding-top: rem(50);
  }
}

.footer__item a {
  display: inline-block;
  width: 100%;
  letter-spacing: 0.1em;
  padding: rem(7) 0;
  
  @include mq() {
    padding: 0 rem(15);
    position: relative;
  }
}

.footer__item a::after {
  @include mq() {
    content: '';
    position: absolute;
    bottom: rem(-10);
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    background: $white;
    transition: .3s;
  }
}

.footer__item a:hover::after {
  @media (any-hover:hover) {
    height: rem(1);
    width: 80%;
  }
}

.footer__logo {
  display: inline-block;
  margin: 0 auto;
  width: rem(90);

  @include mq() {
    margin-top: rem(16);
    width: rem(100);
  }
}

.footer__copyright {
  margin-top: rem(8);
  padding-top: rem(8);
  border-top: 1px solid $white;
  
  @include mq() {
    margin-top: rem(20);
    padding-top: rem(20);
  }
}

.footer__copyright small {
  font-size: rem(12);
  letter-spacing: 0.2em;

  @include mq() {
    font-size: rem(14);
  }
}