@use "global" as *;

$drawer-width: rem(24); //ドロワーの幅
$drawer-height: rem(3); //ドロワー線の高さ
$drawer-color: $color-main; //ドロワー線の色

.hamburger {
  z-index: map-get($layer, "hamburger");
}

.hamburger span {
  position: relative;
  display: block;
  height: $drawer-height;
  width: $drawer-width;
  background: $white;
  transition: 0.5s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: rem(4.5) 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.hamburger.is-open span {
  background: $color-main;
}

.hamburger.is-open span:nth-child(1) {
  top: rem(5);
  transform: rotate(225deg);
}

.hamburger.is-open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  top: rem(-10);
  transform: rotate(-45deg);
}
