@use "global" as *;

.message {
  text-align: center;
  padding: rem(20) 0;

  @include mq() {
    padding: rem(30) 0;
  }
}

.message__title {
  color: $color-sub;
  font-size: rem(26);
  font-family: $second-font-family;
  font-weight: $bold;
  line-height: 1.8;
  letter-spacing: .05em;

  @include mq() {
    font-size: rem(32);
    line-height: 1.6;
  }
}

.message__title span {
  display: block;
  color: $color-main;
  font-size: rem(19);
  font-family: $base-font-family;
  font-weight: $medium;

  @include mq() {
    font-size: rem(22);
  }
}

.message__text {
  text-align: justify;
  letter-spacing: .01em;
  padding-top: rem(20);

  @include mq() {
    padding-top: rem(25);
  }
}