@use "global" as *;

.title {
  font-family: $second-font-family;
  color: $color-sub;
  font-size: rem(24);
  position: relative;
  text-align: center;
  font-weight: $medium;

  @include mq() {
    font-size: rem(32);
  }
}

.title::after {
  content: "";
  position: absolute;
  bottom: rem(-16);
  left: 50%;
  transform: translateX(-50%);
  height: rem(2);
  width: rem(45);
  background: $color-main;

  @include mq() {
    width: rem(50);
  }
}

.title.title--white {
  color: $white;
}

.title.title--white::after {
  background: $white;
}




